.tab a{ display:block;
		float:left;
		width:250px;
		height:30px;
		text-align:center;
		border:1px solid #666;
}
.clear{ clear:both;
}

#primero{ width: 550px;
		  height: 300px;
}
#segundo{ width: 550px;
		  height: 300px;
}
#tercero{ width: 550px;
		  height: 300px;
}

#cuarto{ width: 550px;
		  height: 300px;
}