#container-left{
	float: left;
	width: auto;
	height: auto;
}

#container-middle{
	float: middle;
	width: 70%;
	height: auto;

}

#container-right{
	float: right;
	width: auto;
	height: auto;
}

#tableholder{
	overflow-x: visible;
	overflow-y: visible;
	width: auto;
	height: auto;
}

#container-left-container-middle{
	float: left;
	position: block;
	width: 15%;
	margin-left: 25%;
	margin-right: auto;
}

table{
	width: 100%;
	height: 100%;
}

#container-middle-container-middle{
	overflow-x: scroll;
	overflow-y: visible;
	float: middle;
	width: 70%;
	height: auto;
	position: block;
	margin-left: auto;
	margin-right: auto;

}

#container-middle-container-middle-2{
	overflow-x: scroll;
	overflow-y: visible;
	float: middle;
	width: 70%;
	height: auto;
	position: block;
	margin-left: auto;
	margin-right: auto;

}

#container-right-container-middle{
	float: right;
	position: block;
	width: 15%;
	margin-left: auto;
	margin-right: 25%;
}


/*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*/
/*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*/
/*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*/
/*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*/
/*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*/
/*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*//*barra de navegacion #2*/


#tab-content1  {
	background-color:rgba(0,0,0,.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	padding: auto;
}

#frmtable{
	width: 280px;
	height: 270px;
	padding: 25px;
	background-color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -155px;
	margin-top: -40px;
	text-align: center;
}

.cerrar-flotante-crear-table{
	color: black;
	font-size: 15px;
	text-align: right;
}

#titulo-dropdown {
	color: white;
}


.calc{
	text-align: center;
}



@media (min-width: 100px) and (max-width: 1024px){

	#frmtable{
	width: 280px;
	height: 270px;
	padding: 25px;
	background-color: white;
	top: 50%;
	left: 53%;
	position: absolute;
	margin-left: -155px;
	margin-top: -40px;
	text-align: center;
}
}
}



#demo {
   width: 100%;
   border: 1px solid #000;
}
#demo td {
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
}

#demo th {
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
}